#contactContainer h3{
    padding-top:7em;
    font-family:'Fira Code';
    font-size: x-large;
    color:var(--color-primary);
    text-align:center;
    font-weight: 400;
}


#contactSection{
    display:flex;
    justify-content: center;
    gap: 5rem;
}
#messageContainer form{
    position:relative;
    z-index: 4000;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:4.5rem;
    width:440px;
    gap:1rem;
}
#messageContainer form input, textarea{
    height:70px;
    width: 440px;
    border-radius: 20px;
    font-family:'Fira Code';
    font-size: 15px;
    background-color:var(--color-transparent);
    border: 1px solid white;
    color:white;
    padding-left: 2rem;
}

#messageContainer form textarea{
    padding-top: 2rem;
    height:300px;
}
::placeholder{
    color:#AFB8C0;
    font-family:'Fira Code';
}

#details {
    position:relative;
    z-index: 4000;
    width: 400px;
    margin-top:8rem;
}
#details div h1 {
    font-size:35px;
}
#details div p{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-family:'Fira Code';
    color: var(--color-primary);
}
#contactDetails {
    margin-bottom: 6rem;
}
#messageContainer form button{
    width:446px;
    height:55px;
    background-color: transparent;
    border: 2px solid var(--color-primary);
    color:white;
    font-size:16px;
    font-weight: bold;
    border-radius: 4px;
    transition: all 300ms ease-in-out;
    cursor:pointer;
}
#messageContainer form button:hover{
    background-color: white;
    border: none;
    color: var(--color-bg);
    transition: all 400ms ease-in-out;
}

@media screen and (max-width: 1280px){
    #contactContainer h3{
        margin-top:1rem;
    }
    #contactContainer{
        margin-top:20rem;
        padding-bottom:5rem;
    }
    #contactContainer #contactSection #messageContainer{
        width:240px;
    }
    #messageContainer input, textarea{
        height:50px;
        width: 270px;
    }

    #details{
        width:270px;
        margin-top:4rem;
    }
    #details #contactDetails h1{
        font-size:26px;
    }
    #details #contactDetails p{
        font-size:14px;
    }
    #details #socialMediaDetails h1{
        font-size:26px;
    }
    #details #socialMediaDetails p{
        font-size:14px;
    }
    #messageContainer button{
        width: 270px;
    }
    #messageContainer textarea{
        height:240px;
    }
}
/* @media screen and (max-width: 640px){
    #contactContainer{
        margin-top:95rem;
        width:370px;
    }
    #messageContainer input, textarea{
        height:50px;
        width: 370px;
    }
    #contactSection{
        display:block;
        width:370px;
    }
    #contactContainer #contactSection #messageContainer{
        width:370px;
    }
    #details{
        width:370px;
        margin-top:4rem;
    }
  } */


@media screen and (max-width: 860px){
    #contactContainer{
        margin-top:95rem;
        padding-bottom:20rem;
        width:380px;
    }
    #contactSection {
        flex-direction: column;
        align-items: center;
    }
    #details #contactDetails p{
        font-size:12px;
    }
    #details #socialMediaDetails p{
        font-size:12px;
    }
}
