#socialsContainer{
    display: flex;
    align-items: flex-end;
    width:100%;
    flex-direction: row;
    justify-content: space-evenly;
    gap:50%;
    position: fixed;
    bottom: 0;
}
.leftSocials {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-left: 6rem;
    z-index: 3000;
}
.leftSocials::after{
    content: "";
    width: 2px;
    height: 10rem;
    background-color: var(--color-primary);
}
.leftSocials a{
    color:white;
}
.leftSocials a:hover{
    color:var(--color-primary);
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgba(255, 255, 255, 0),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.emailSocial {
    font-family: 'Fira Code';
    transform: rotate(-90deg);
    margin-bottom: 7rem;
}
.rightSocials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}
.rightSocials a{
    color:white;
}
.rightSocials a:hover{
    color:var(--color-primary);
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgba(255, 255, 255, 0),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.rightSocials::after{
    content: "";
    width: 2px;
    height: 10rem;
    background-color: var(--color-primary);
}
.rightSocials p a{
    color:white;
}
@media screen and (max-width: 640px){
    #socialsContainer{
        display:none;
    }
  }
